.courses {
  height: 100%;
  width: 100%;
  animation: slideDown 1s ease forwards; /* Aplica la animación slideUp */
  opacity: 0; /* Inicialmente, establece la opacidad en 0 */
}

.course-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.course-image {
  width: 100px; /* Ajusta el ancho según necesites */
  height: auto;
  margin-right: 10px;
}

.course-details {
  flex-grow: 1; /* Asegura que los detalles ocupen el espacio restante */
}

.course-title {
  font-size: 25px;
  margin-bottom: 5px;
}

.course-status {
  font-size: 20px;
  font-style: italic;
}

@keyframes slideDown {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(20px);
    opacity: 1;
  }
}
