.header-wrapper {
  max-width: 100%;
  padding: 15px 0px;
  justify-content: flex-end;
}

.header-button {
  display: none;
  cursor: pointer;
}

.nav-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-li {
  position: relative;
  margin: 1em;
  font-size: 35px;
  display: inline-block;
  color: white;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2596be;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2596be;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header-wrapper {
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-button {
    display: block;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .header-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .bi-list {
    fill: white;
  }

  .header-nav {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    transition: max-height 0.5s ease; /* Cambiar la transición a max-height */
    max-height: 0; /* Ocultar el menú por defecto */
    overflow: hidden; /* Ocultar el contenido que sobresalga */
  }

  .header-nav.open {
    max-height: 1000px; /* Ajustar según sea necesario */
    display: flex;
    align-items: center;
  }

  .nav-ul {
    flex-direction: column;
    padding: 20px;
  }

  .nav-li {
    margin-bottom: 10px;
  }
}
