#header-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header-wrapper {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.header-button {
  display: none;
  cursor: pointer;
}

.header-svg {
  fill: white;
}

.header-nav {
  padding: 20px;
}

.header-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.header-li {
  margin: 1em;
  font-size: 200%;
  display: inline-block;
  position: relative;
  color: whitesmoke;
}

/* Animación hover de items de la lista */

.header-li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 767px) {
  .header-nav {
    transition: opacity 0.4s ease, visibility 1s linear;
  }

  .header-button {
    position: relative;
    display: flex;
    padding: 1em;
    flex-flow: row;
    background: none;
  }

  .header-li {
    font-size: 300%;
  }

  .header-nav {
    top: calc(100% + 15px); /* Position the menu below the button on mobile */
    left: 0;
    width: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    backdrop-filter: blur(10px);
  }

  .header-nav.isActive {
    height: 50vh;
    opacity: 1;
  }
  .header-ul {
    flex-direction: column;
  }
  .header-li {
    margin: 0.5em 0;
  }
}