.header-wrapper {
  max-width: 100%;
  padding: 15px 20px;
  justify-content: flex-end;
}

.header-button {
  display: none;
  cursor: pointer;
}

.header-nav {
  padding: 20px;
}

.nav-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.nav-li {
  margin: 1em;
  font-size: 200%;
  display: inline-block;
  position: relative;
  color: white;
}

/* Animación hover de items de la lista */

.nav-li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: all 0.3s ease; /* Transición suave */
}

.nav-li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 768px) {
  .header-wrapper {
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-button {
    display: block;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .header-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .bi-list {
    fill: white;
  }

  .header-nav {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    transition: max-height 0.5s ease; /* Cambiar la transición a max-height */
    max-height: 0; /* Ocultar el menú por defecto */
    overflow: hidden; /* Ocultar el contenido que sobresalga */
  }

  .header-nav.open {
    max-height: 1000px; /* Ajustar según sea necesario */
    display: flex;
    align-items: center;
  }

  .nav-ul {
    flex-direction: column;
    padding: 20px;
  }

  .nav-li {
    margin-bottom: 10px;
  }
}
