.project-card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Adding filter transition */
}

.project-card:hover {
  transform: scale(1.1);
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.project-language {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  padding: 2px 4px;
}

.project-language p {
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Add overflow property */
  text-overflow: ellipsis; /* Add text-overflow property */
}

.project-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.project-description {
  position: absolute;
  bottom: -100%; /* Initially hidden below the card */
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  transition: bottom 0.3s ease; /* Adding smooth transition for description */
}

.project-card:hover .project-description {
  bottom: 0; /* Move description into view on hover */
}

.project-description p {
  margin: 0;
}

.project-description a {
  color: white;
  text-decoration: none;
}

.project-description a:hover {
  text-decoration: underline;
  cursor: pointer;
}