.roadmap {
  width: 100%;
}

.roadmap-ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.roadmap-item {
  background-color: rgb(60, 60, 78);
  padding-left: 15px;
  .description {
    font-size: 0.8em;
  }
  .sub-description {
    font-size: 0.5em;
  }
  .year {
    font-size: 0.5em;
  }

}
