.about-view-wrapper {
  text-align: center;
  width: 100%;
}

.about-view-content {
  width: 80%;
  margin: auto;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 80px;
}

.card {
  width: 250px;
  height: 350px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  overflow: hidden;
  border: 8px solid transparent;
  box-shadow: 7px 7px 0 var(--btn-shadow-color);
  transition: 
    transform 0.3s ease, 
    box-shadow 0.3s ease, 
    border-color 0.3s ease;
}

.card:hover {
  box-shadow: none;
  transform: translate(7px, 7px);
}

.card:nth-child(1) { border-color: #ff5733; } /* Rojo/Naranja */
.card:nth-child(2) { border-color: #33c4ff; } /* Azul */
.card:nth-child(3) { border-color: #33ff77; } /* Verde */
.card:nth-child(4) { border-color: #746dd4; }


/* Icon */
.card-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  padding: 5px; 
}

/* Título con altura fija */
.card-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  min-height: 30px;
  flex-shrink: 0;
}

/* Descripción con altura fija */
.card-description {
  font-size: 0.7rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding: 0 10px;
  min-height: 50px; /* Asegura que todas las tarjetas tengan la misma altura para el texto */
  flex-shrink: 0;
}

