.experience-wrapper {
  width: 100%;
  background-color: var(--bg-color);
  padding: 4rem 0;
}

.experience-content {
  width: 80%;
  margin: auto;
}

.experience-cards-scroll {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  width: fit-content;
  margin: 0 auto;
  overflow: visible;
  perspective: 1200px;
}

.experience-cards-scroll::-webkit-scrollbar {
  height: 10px;
}

.experience-cards-scroll::-webkit-scrollbar-thumb {
  background: #1abc9c;
  border-radius: 5px;
}

.experience-cards-scroll::-webkit-scrollbar-track {
  background: #1e293b;
}

@media (max-width: 768px) {
  .experience-cards-scroll {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    gap: 2rem;
    scroll-snap-type: none;
  }

  .experience-card-modern {
    width: 90%;
    height: auto;
  }

  .logo-wrapper {
    height: 9rem; /* sigue igual */
  }

  .experience-info {
    height: auto;
    max-height: none;
  }
}
