.home-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 28rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 28rem;
  overflow: hidden;
  z-index: 2;
}

.home-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #4b0082, #18181c); /* Gradiente fijo */
  z-index: 0;
}

.home-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:
    radial-gradient(circle, rgba(255,255,255,0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255,255,255,0.5) 2px, transparent 3px),
    radial-gradient(circle, rgba(255,255,255,0.3) 1.5px, transparent 2.5px);
  background-size: 180px 180px, 300px 300px, 220px 220px;
  background-position: 0 0, 120px 60px, 60px 120px;
  animation: starScroll 150s linear infinite;
  z-index: 1;
  pointer-events: none;
}


@keyframes starScroll {
  from {
    background-position: 0 0, 25px 25px;
  }
  to {
    background-position: 1000px 1000px, 1025px 1025px;
  }
}

.home-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  z-index: 30;
}

.home-text {
  text-align: start;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  font-size: 2.5rem;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.sub-title {
  font-size: 1.2rem;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.description {
  max-width: 25rem;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.highlight-name {
  color: #1abc9c;
  font-size: 5.5vw;
}

.home-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 50px;
  animation: fadeInUp 2s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.home-buttons button {
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
  transition: background-color 0.3s ease;
}

.download-cv-button {
  background-color: #1abc9c;
  border: solid 2px #1abc9c;
}

.download-cv-button:hover {
  background-color: #31d8b7;
  border: solid 2px #31d8b7;
}

.contact-me-button {
  background-color: #18181c;
  border: solid 2px #1abc9c;
}

.contact-me-button:hover {
  background-color: #1abc9c;
  border: solid 2px #1abc9c;
}

.home-image {
  width: 30vw;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  border: 6px solid #1abc9c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulseBorder 3s infinite ease-in-out;
  overflow: hidden;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
