.home-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  background-image: url('../../../public/images/mendoza.jpg'); /* IMPORTANTE: La imagen debe estar en /public/images */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.home-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.home-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.home-text {
  text-align: start;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  font-size: 5.5vw;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.sub-title {
  font-size: 2.0vw;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.description {
  max-width: 800px;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.highlight-name {
  color: #1abc9c;
  font-size: 5.5vw;
}

.home-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 50px;
  animation: fadeInUp 2s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.home-buttons button {
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.3s ease;
}

.download-cv-button {
  background-color: #1abc9c;
  border: solid 2px #1abc9c;
}

.download-cv-button:hover {
  background-color: #31d8b7;
  border: solid 2px #31d8b7;
}

.contact-me-button {
  background-color: #18181c;
  border: solid 2px #1abc9c;
}

.contact-me-button:hover {
  background-color: #1abc9c;
  border: solid 2px #1abc9c;
}

.home-image {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInRight 2s ease-out forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.home-image img {
  border: 6px solid #1abc9c;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}
