.projects-wrapper {
  width: 100%;
}

.projects-content {
  width: 80%;
  margin: auto;
}

.project-slider {
  margin-top: 1.8rem;
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.project-preview {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-container {
  width: 100%;
  aspect-ratio: 16 / 10;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--btn-shadow-color);
  cursor: pointer;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.project-details {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
  gap: 1rem;
}

.project-details h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.project-details p {
  margin: 0.9rem 0;
  font-size: var(--font-size);
  line-height: 1.4;
}

.project-meta {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.project-info__tag {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size);
  font-weight: 500;
  margin: 0;
}

.project-info__tag .tag-label {
  font-size: var(--font-size);
}

.project-info__tag .tag-value {
  text-align: right;
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-divider {
  height: 1px;
  background-color: #ccc;
  margin: 0.2rem 0;
}

.project-links-inline {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1.2rem;
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover:not(.disabled) {
  background-color: #1c86ee;
}

.btn.disabled {
  background-color: #ccc;
  color: #666;
  pointer-events: none;
  cursor: not-allowed;
  position: relative;
}

.btn.disabled:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.75rem;
  opacity: 1;
  pointer-events: none;
  z-index: 10;
}

.slider-controls {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.slider-controls button {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  color: #1e90ff;
  transition: color 0.3s;
}

.slider-controls button:hover {
  color: #0d6efd;
  text-decoration: underline #1e90ff;
}

/* Responsive */
@media (max-width: 768px) {
  .project-slider {
    flex-direction: column;
  }
  
  .project-preview,
  .project-details {
    flex: 1 1 100%;
  }
  
  .project-details h3 {
    font-size: 1.5rem;
  }
}