@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

@font-face {
  font-family: "Pixel Operator";
  src: url(../public/assets/fonts/PixelOperator.ttf);
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Pixel Operator";
  color: var(--negro);
  background-image: url(https://wallpaperaccess.com/full/3492868.gif);
  background-size: cover; /* Use 'cover' to ensure the background covers the entire viewport */
  background-position: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden; /* Hide the vertical scrollbar */
}

/* Slider CSS */

.slider-container {
  margin: 0em 5em;
  backdrop-filter: brightness(60%);
  border-radius: 20px;
  padding: 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  overflow: hidden;
}

/* Estilos para el contenedor de diapositivas */
.slides {
  height: 100%;
  width: 400%; /* Ancho total del contenedor (4 diapositivas en este caso) */
  transition: transform 0.5s ease-in-out;
}

/* Estilo para cada diapositiva */
.slide {
  flex: 0 0 25%;
  width: 25%; /* Cada diapositiva ocupa el 25% del ancho total */
  overflow: hidden;
}

/* Estilos para los botones de navegación */
.prev-btn,
.next-btn {
  position: absolute; /* Posición absoluta para sacarlos del flujo normal */
  top: 50%; /* Colocar los botones en el centro verticalmente */
  transform: translateY(-50%); /* Alinear verticalmente */
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5); /* Color ligeramente transparente */
  transition: color 0.3s ease; /* Transición suave */
  font-size: 2em;
  height: 60px; /* Altura deseada */
  line-height: 3em; /* Alineación vertical del contenido */
}

/* Estilo específico para el botón previo */
.prev-btn {
  margin-left: 1em;
  left: 10px; /* Colocar el botón previo a la izquierda */
}

/* Estilo específico para el botón siguiente */
.next-btn {
  margin-right: 1em;
  right: 10px; /* Colocar el botón siguiente a la derecha */
}

/* Cambia el color al pasar el mouse sobre los botones */
.prev-btn:hover,
.next-btn:hover {
  color: rgba(255, 255, 255, 1); /* Ajusta la transparencia al pasar el cursor */
}
