.navbar-wrapper {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #18181c;
}

.navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 82%;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.highlight {
    color: #1abc9c;
}

.logo:hover {
    color: #1abc9c;
    transform: scale(1.1);
    text-decoration: none;
}

.logo:hover::after {
    content: none !important;
}

/* <<<<<<<< Navbar Links >>>>>>> */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.4rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease;
}

.navbar li a {
    margin-right: 40px;
    font-size: 0.9rem;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #1abc9c;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover {
    color: #1abc9c;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
    .navbar-wrapper {
        grid-template-columns: 1fr 5fr 1fr; /* Más espacio en pantallas pequeñas */
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }
}
