@import url("https://fonts.googleapis.com/css2?family=Outfit");

.about-wrapper {
  height: 100%;
  width: 100%;
  box-sizing: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 15px 20px;
}

.about-item {
  height: 100%;
  width: 100%;
  font-size: 2.5em;
  padding: 20px;
}

h3 {
  font-size: 1.2em;
}

@media screen and (max-width: 767px) {
  .about-wrapper {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
  }

  .about-item {
    width: 100%; /* Establecer ancho del elemento al 100% en pantallas pequeñas */
    margin-bottom: 20px; /* Agregar margen entre elementos en pantallas pequeñas */
  }
}
