.blog-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: content-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blog-content {
  margin: 50px;
  display: grid; /* Change to grid */
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  justify-content: center;
  gap: 50px;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
  .blog-content {
    grid-template-columns: 1fr; /* One column for mobile */
  }
}
