.contact-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.contact-content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  border: solid 1px white;
  border-radius: 3px;
}

.form-control {
  background: none;
  color: white;
  border: 1px white;
  width: 400px;
  max-width: 400px;
  min-width: 400px;
  border-radius: 5px;
  padding: 1px;
}

.contact-title {
  font-size: 80px;
}