.home-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  position: relative;
  backdrop-filter: brightness(100%);
  height: 450px;
  width: 450px;
  padding: 15px;
  display: flex;
  justify-items: center;
  border-radius: 50%;
  aspect-ratio: 4/3;
}

.speech-bubble {
  position: absolute;
  top: 50%;
  right: -120px; /* Ajusta esta propiedad para posicionar el cuadro de texto correctamente */
  transform: translate(0, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 200px; /* Definir un ancho máximo */
  overflow: hidden; /* Hacer que el cuadro de texto tenga desplazamiento vertical si es necesario */
  max-height: 200px; /* Definir una altura máxima */
}

.speech-bubble p {
  margin: 0;
  font-size: 22px;
  color: black;
}

.home-image:hover {
  transform: scale(1.1, 1.1);
}

.home-image:active {
  transform: scale(1.1, 1.1);
}

h1 {
  font-size: 8.5em;
  text-align: center;
}

h2 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

@media (max-width: 962px) {
  .home-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
    text-align: center; /* Centra el contenido */
  }

  .speech-bubble {
    position: relative; /* Resetting position to relative */
    top: auto; /* Resetting top position */
    right: auto; /* Resetting right position */
    left: 50%; /* Centering horizontally */
    transform: translateX(-50%); /* Centering horizontally */
    margin-top: 20px; /* Adding margin to create space between image and speech bubble */
  }

  .home-welcome {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-title {
    margin-top: 15px; /* Añadir espacio entre la imagen y los títulos */
  }

}

@media (max-width: 762px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
  }

  .home-links {
    margin-top: 20px;
    gap: 30px;
  }
}
