* {
    font-family: 'Lexend', sans-serif;
    color: #f5fefd;
  }
  
  html {
    background-color: #18181c
  }

  .App {
    background-color: #18181c;
  }
  
  .content {
    height: auto;
    width: 100%;
  }